@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.AboutUsPage>
@using ContentModels = Hakaton.SlobodaNemaCenu.Web.Models.Generated;
@{
    Layout = "_Layout.cshtml";
}
<main class="main">
    
    @Html.GetBlockListHtml(Model.PageContent)

    <section class="image-grid">
        <div class="wrap">
            <div class="image-grid-wrap">
                <div class="background-text">
                    <span class="background-text__content"><span>Nasi projekti</span></span>
                </div>
                <div class="image-grid__content">
                    <div class="image-grid__images">
                        <a href="/" class="image-grid__link">
                            <img src="./assets/images/image-text.png" alt="" />
                        </a>
                        <a href="/" class="image-grid__link">
                            <img src="./assets/images/image-text.png" alt="" />
                        </a>
                        <a href="/" class="image-grid__link">
                            <img src="./assets/images/image-text.png" alt="" />
                        </a>
                        <a href="/" class="image-grid__link">
                            <img src="./assets/images/image-text.png" alt="" />
                        </a>
                        <a href="/" class="image-grid__link">
                            <img src="./assets/images/image-text.png" alt="" />
                        </a>
                        <a href="/" class="image-grid__link">
                            <img src="./assets/images/image-text.png" alt="" />
                        </a>
                        <a href="/" class="image-grid__link">
                            <img src="./assets/images/image-text.png" alt="" />
                        </a>
                        <a href="/" class="image-grid__link">
                            <img src="./assets/images/image-text.png" alt="" />
                        </a>
                    </div>
                    <a href="/" class="btn">See all activities</a>
                </div>
            </div>
        </div>
    </section>
</main>