@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ActivitiesPage>
@using ContentModels = Hakaton.SlobodaNemaCenu.Web.Models.Generated;
@{
	Layout = "_Layout.cshtml";
}


<main class="main">
    <section class="banner small">
        <div class="wrap">
            <div class="banner-wrap">
                <div class="banner-text">
                    <h1 class="h1 banner-title">@Model.Title</h1>
                    <p class="text">
                        @Model.Text
                    </p>
                </div>
                <div class="banner-img">
                    <img src="./assets/images/bird.png" alt="banner image" />
                </div>
            </div>
        </div>
    </section>

    <section class="related-news">
        <div class="wrap">
            <div class="related-news__cards swiper-container js-swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide related-news__card">
                        <div class="rated-news__card-top">
                            <img src="./assets/images/demo.jpg" alt="Card img" />
                            <div class="related-news__tags">
                                <span class="related-news__tag date">13/09/2023</span>
                                <span class="related-news__tag place">KC Liman</span>
                            </div>
                        </div>
                        <div class="related-news__card-content">
                            <h4 class="h4 related-news__card-title">
                                Mladi o trgovini ljudima
                            </h4>
                            <p class="text-small">
                                Mapa je u formi edukativnog i informativnog materijala koja
                                u sebi sadrži kontakte svih važnih institucija i OCD, a koji
                                se bave borbom protiv trgovine ljudima.
                            </p>
                            <div class="related-news__link">
                                <a href="blog.html" target="_blank">
                                    Read more
                                    <span class="icon icon-arrow">
                                        <span class="sr-only">read more icon</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide related-news__card">
                        <div class="rated-news__card-top">
                            <img src="./assets/images/demo.jpg" alt="Card img" />
                            <div class="related-news__tags">
                                <span class="related-news__tag date">13/09/2023</span>
                                <span class="related-news__tag place">KC Liman</span>
                            </div>
                        </div>
                        <div class="related-news__card-content">
                            <h4 class="h4 related-news__card-title">
                                Mladi o trgovini ljudima
                            </h4>
                            <p class="text-small">
                                Mapa je u formi edukativnog i informativnog materijala koja
                                u sebi sadrži kontakte svih važnih institucija i OCD, a koji
                                se bave borbom protiv trgovine ljudima.
                            </p>
                            <div class="related-news__link">
                                <a href="blog.html" target="_blank">
                                    Read more
                                    <span class="icon icon-arrow">
                                        <span class="sr-only">read more icon</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide related-news__card">
                        <div class="rated-news__card-top">
                            <img src="./assets/images/demo.jpg" alt="Card img" />
                            <div class="related-news__tags">
                                <span class="related-news__tag date">13/09/2023</span>
                                <span class="related-news__tag place">KC Liman</span>
                            </div>
                        </div>
                        <div class="related-news__card-content">
                            <h4 class="h4 related-news__card-title">
                                Mladi o trgovini ljudima
                            </h4>
                            <p class="text-small">
                                Mapa je u formi edukativnog i informativnog materijala koja
                                u sebi sadrži kontakte svih važnih institucija i OCD, a koji
                                se bave borbom protiv trgovine ljudima.
                            </p>
                            <div class="related-news__link">
                                <a href="blog.html" target="_blank">
                                    Read more
                                    <span class="icon icon-arrow">
                                        <span class="sr-only">read more icon</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide related-news__card">
                        <div class="rated-news__card-top">
                            <img src="./assets/images/demo.jpg" alt="Card img" />
                            <div class="related-news__tags">
                                <span class="related-news__tag date">13/09/2023</span>
                                <span class="related-news__tag place">KC Liman</span>
                            </div>
                        </div>
                        <div class="related-news__card-content">
                            <h4 class="h4 related-news__card-title">
                                Mladi o trgovini ljudima
                            </h4>
                            <p class="text-small">
                                Mapa je u formi edukativnog i informativnog materijala koja
                                u sebi sadrži kontakte svih važnih institucija i OCD, a koji
                                se bave borbom protiv trgovine ljudima.
                            </p>
                            <div class="related-news__link">
                                <a href="/" target="_blank">
                                    Read more
                                    <span class="icon icon-arrow">
                                        <span class="sr-only">read more icon</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide related-news__card">
                        <div class="rated-news__card-top">
                            <img src="./assets/images/demo.jpg" alt="Card img" />
                            <div class="related-news__tags">
                                <span class="related-news__tag date">13/09/2023</span>
                                <span class="related-news__tag place">KC Liman</span>
                            </div>
                        </div>
                        <div class="related-news__card-content">
                            <h4 class="h4 related-news__card-title">
                                Mladi o trgovini ljudima
                            </h4>
                            <p class="text-small">
                                Mapa je u formi edukativnog i informativnog materijala koja
                                u sebi sadrži kontakte svih važnih institucija i OCD, a koji
                                se bave borbom protiv trgovine ljudima.
                            </p>
                            <div class="related-news__link">
                                <a href="/" target="_blank">
                                    Read more
                                    <span class="icon icon-arrow">
                                        <span class="sr-only">read more icon</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide related-news__card">
                        <div class="rated-news__card-top">
                            <img src="./assets/images/demo.jpg" alt="Card img" />
                            <div class="related-news__tags">
                                <span class="related-news__tag date">13/09/2023</span>
                                <span class="related-news__tag place">KC Liman</span>
                            </div>
                        </div>
                        <div class="related-news__card-content">
                            <h4 class="h4 related-news__card-title">
                                Mladi o trgovini ljudima
                            </h4>
                            <p class="text-small">
                                Mapa je u formi edukativnog i informativnog materijala koja
                                u sebi sadrži kontakte svih važnih institucija i OCD, a koji
                                se bave borbom protiv trgovine ljudima.
                            </p>
                            <div class="related-news__link">
                                <a href="/" target="_blank">
                                    Read more
                                    <span class="icon icon-arrow">
                                        <span class="sr-only">read more icon</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide related-news__card">
                        <div class="rated-news__card-top">
                            <img src="./assets/images/demo.jpg" alt="Card img" />
                            <div class="related-news__tags">
                                <span class="related-news__tag date">13/09/2023</span>
                                <span class="related-news__tag place">KC Liman</span>
                            </div>
                        </div>
                        <div class="related-news__card-content">
                            <h4 class="h4 related-news__card-title">
                                Mladi o trgovini ljudima
                            </h4>
                            <p class="text-small">
                                Mapa je u formi edukativnog i informativnog materijala koja
                                u sebi sadrži kontakte svih važnih institucija i OCD, a koji
                                se bave borbom protiv trgovine ljudima.
                            </p>
                            <div class="related-news__link">
                                <a href="/" target="_blank">
                                    Read more
                                    <span class="icon icon-arrow">
                                        <span class="sr-only">read more icon</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide related-news__card">
                        <div class="rated-news__card-top">
                            <img src="./assets/images/demo.jpg" alt="Card img" />
                            <div class="related-news__tags">
                                <span class="related-news__tag date">13/09/2023</span>
                                <span class="related-news__tag place">KC Liman</span>
                            </div>
                        </div>
                        <div class="related-news__card-content">
                            <h4 class="h4 related-news__card-title">
                                Mladi o trgovini ljudima
                            </h4>
                            <p class="text-small">
                                Mapa je u formi edukativnog i informativnog materijala koja
                                u sebi sadrži kontakte svih važnih institucija i OCD, a koji
                                se bave borbom protiv trgovine ljudima.
                            </p>
                            <div class="related-news__link">
                                <a href="/" target="_blank">
                                    Read more
                                    <span class="icon icon-arrow">
                                        <span class="sr-only">read more icon</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide related-news__card">
                        <div class="rated-news__card-top">
                            <img src="./assets/images/demo.jpg" alt="Card img" />
                            <div class="related-news__tags">
                                <span class="related-news__tag date">13/09/2023</span>
                                <span class="related-news__tag place">KC Liman</span>
                            </div>
                        </div>
                        <div class="related-news__card-content">
                            <h4 class="h4 related-news__card-title">
                                Mladi o trgovini ljudima
                            </h4>
                            <p class="text-small">
                                Mapa je u formi edukativnog i informativnog materijala koja
                                u sebi sadrži kontakte svih važnih institucija i OCD, a koji
                                se bave borbom protiv trgovine ljudima.
                            </p>
                            <div class="related-news__link">
                                <a href="/" target="_blank">
                                    Read more
                                    <span class="icon icon-arrow">
                                        <span class="sr-only">read more icon</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="javascript:;" class="btn related-news__btn show-on-mobile">See all activities</a>
        </div>
    </section>
</main>