@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Hakaton.SlobodaNemaCenu.Web.Models.Generated;
@{
	Layout = "_Layout.cshtml";
}

<main class="main">

    @Html.GetBlockListHtml(Model.PageContent)


    <section class="image-box">
        <div class="wrap">
            <div class="image-box__wrap">
                <div class="image-box__img">
                    <a href="/" class="image-box__link">
                        <img src="./assets/images/demo.jpg" alt="Image exemple" />
                    </a>
                </div>

                <div class="image-box__comment">
                    <span class="grey">Sloboda Nema Cenu,</span>
                    <span>KC Liman</span>
                    <div class="triangle-comment">
                        <span class="sr-only">Triangle shape</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="image-text">
        <div class="wrap">
            <div class="image-text__wrap">
                <div class="image-text__content">
                    <h2 class="h2 image-text__title">Trgovina ljudima</h2>
                    <p class="image-text__paragraph bold text-small">
                        Rad smo započeli kao neformalna grupa građanja, ali smo se od
                        početka trudili da rame uz rame na prevenciji trgovine ljudima
                        radimo zajedno sa predstavnciima državnih institucija, drugim
                        organizacijama i loklanim timovima.
                    </p>
                    <p class="image-text__paragraph text-small">
                        Rad smo započeli kao neformalna grupa građanja, ali smo se od
                        početka trudili da rame uz rame na prevenciji trgovine ljudima
                        radimo zajedno sa predstavnciima državnih institucija, drugim
                        organizacijama i loklanim timovima.
                    </p>
                </div>
                <div class="image-text__image">
                    <img src="./assets/images/star-shape.svg"
                         alt="Svg shape"
                         class="image-text__image-shape" />
                    <img src="./assets/images/image-text.png"
                         alt="Image alt text"
                         class="image-text__image-main" />
                </div>
            </div>
        </div>
    </section>
    <section class="title-cards">
        <div class="wrap">
            <div class="title-cards__wrap">
                <div class="title-cards__boxes">
                    <div class="title-card">
                        <h3 class="h3 title-card__title">Naslov 1</h3>
                        <div class="title-card__text">
                            <p class="text-small">
                                Nakon 7 godina kroz koje smo kao neformalna grupa sakupljali
                                iskustvo i unapređivali znanje procenili smo da smo spremi.
                            </p>
                        </div>
                    </div>
                    <div class="title-card">
                        <h3 class="h3 title-card__title">Naslov 2</h3>
                        <div class="title-card__text">
                            <p class="text-small">
                                Nakon 7 godina kroz koje smo kao neformalna grupa sakupljali
                                iskustvo i unapređivali znanje procenili smo da smo spremi.
                            </p>
                        </div>
                    </div>
                    <div class="title-card">
                        <h3 class="h3 title-card__title">Naslov 3</h3>
                        <div class="title-card__text">
                            <p class="text-small">
                                Nakon 7 godina kroz koje smo kao neformalna grupa sakupljali
                                iskustvo i unapređivali znanje procenili smo da smo spremi.
                                Nakon 7 godina kroz koje smo kao neformalna grupa sakupljali
                                iskustvo i unapređivali znanje procenili smo da smo spremi.
                            </p>
                        </div>
                    </div>
                </div>
                <a href="javascript:;" class="btn">Find out more</a>
            </div>
        </div>
    </section>
    <section class="shape-divider">
        <div class="wrap">
            <img src="./assets/images/shape-divider.png"
                 alt="Shape divider image" />
        </div>
    </section>
  
    
    <section class="image-box no-border">
        <div class="wrap">
            <div class="image-box__wrap">
                <div class="image-box__img">
                    <a href="/" class="image-box__link">
                        <img src="./assets/images/mapa.png" alt="Image exemple" />
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="image-text">
        <div class="wrap">
            <div class="image-text__wrap">
                <div class="image-text__content">
                    <h2 class="h2 image-text__title">About us</h2>
                    <p class="image-text__paragraph bold text-small">
                        Rad smo započeli kao neformalna grupa građanja, ali smo se od
                        početka trudili da rame uz rame na prevenciji trgovine ljudima
                        radimo zajedno sa predstavnciima državnih institucija, drugim
                        organizacijama i loklanim timovima.
                    </p>
                    <p class="image-text__paragraph text-small">
                        Nakon 7 godina kroz koje smo kao neformalna grupa sakupljali
                        iskustvo i unapređivali znanje procenili smo da smo spremi za
                        korak dalje i za veće učšće u borbi protiv trgovine ljudima.
                        Simbolično, na Evropski dan borbe protiv trgovine ljudima 2020.
                        godine održana osnivačka skupština na kojoj je Neformalna grupa
                        „Sloboda nema cenu“ postala Udruženje građana. “ Sloboda nema
                        cenu“ koje broji 7 članica.
                    </p>
                </div>
                <div class="image-text__image">
                    <img src="./assets/images/shape-2.svg"
                         alt="Svg shape"
                         class="image-text__image-shape" />
                    <img src="./assets/images/image-text.png"
                         alt="Image alt text"
                         class="image-text__image-main" />
                </div>
            </div>
        </div>
    </section>
</main>
