@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Hakaton.SlobodaNemaCenu.Web.Models.Generated;
@{
	Layout = "_Layout.cshtml";
}

<main class="main">

    @Html.GetBlockListHtml(Model.PageContent)


    <section class="image-text">
        <div class="wrap">
            <div class="image-text__wrap">
                <div class="image-text__content">
                    <h2 class="h2 image-text__title">Trgovina ljudima</h2>
                    <p class="image-text__paragraph bold text-small">
                        Rad smo započeli kao neformalna grupa građanja, ali smo se od
                        početka trudili da rame uz rame na prevenciji trgovine ljudima
                        radimo zajedno sa predstavnciima državnih institucija, drugim
                        organizacijama i loklanim timovima.
                    </p>
                    <p class="image-text__paragraph text-small">
                        Rad smo započeli kao neformalna grupa građanja, ali smo se od
                        početka trudili da rame uz rame na prevenciji trgovine ljudima
                        radimo zajedno sa predstavnciima državnih institucija, drugim
                        organizacijama i loklanim timovima.
                    </p>
                </div>
                <div class="image-text__image">
                    <img src="./assets/images/star-shape.svg"
                         alt="Svg shape"
                         class="image-text__image-shape" />
                    <img src="./assets/images/image-text.png"
                         alt="Image alt text"
                         class="image-text__image-main" />
                </div>
            </div>
        </div>
    </section>
        
    <section class="image-box no-border">
        <div class="wrap">
            <div class="image-box__wrap">
                <div class="image-box__img">
                    <a href="/" class="image-box__link">
                        <img src="./assets/images/mapa.png" alt="Image exemple" />
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
