@font-face {
	font-family: "svgicons";
	font-display: block;
	src: url("../assets/fonts/svgicons.woff2?ca45c90059268b8c3d9a7dd9b7a322e0") format("woff2"),
url("../assets/fonts/svgicons.woff?ca45c90059268b8c3d9a7dd9b7a322e0") format("woff"),
url("../assets/fonts/svgicons.svg?ca45c90059268b8c3d9a7dd9b7a322e0#svgicons") format("svg");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: svgicons !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-arrow:before {
	content: "\f101";
}
.icon-facebook:before {
	content: "\f102";
}
.icon-instagram:before {
	content: "\f103";
}
.icon-linkedin:before {
	content: "\f104";
}
.icon-twitter:before {
	content: "\f105";
}
