@font-face {
	font-family: "svgicons";
	font-display: block;
	src: url("../assets/fonts/svgicons.woff2?74a26fc00038ea3e3c6f2b076f8c84aa") format("woff2"),
url("../assets/fonts/svgicons.woff?74a26fc00038ea3e3c6f2b076f8c84aa") format("woff"),
url("../assets/fonts/svgicons.svg?74a26fc00038ea3e3c6f2b076f8c84aa#svgicons") format("svg");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: svgicons !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-arrow:before {
	content: "\f101";
}
.icon-facebook:before {
	content: "\f102";
}
.icon-instagram:before {
	content: "\f103";
}
.icon-linkedin:before {
	content: "\f104";
}
.icon-twitter:before {
	content: "\f105";
}
