@using ContentModels = Hakaton.SlobodaNemaCenu.Web.Models.Generated;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@{
    var item = Model.Content as ContentModels.ColumnTextModuleItem;
}

<div class="title-card">
    <h3 class="h3 title-card__title">@item?.Title</h3>
    <div class="title-card__text">
        <p class="text-small">@item?.Description </p>
    </div>
</div>
