@using ContentModels = Hakaton.SlobodaNemaCenu.Web.Models.Generated;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@{
    var item = Model.Content as ContentModels.ColumnTextModule;
}
<section class="title-cards">
        <div class="wrap">
            <div class="title-cards__wrap">
                <div class="title-cards__boxes">
                    @Html.GetBlockListHtml( item.Buttons)                   
                </div>
                <a href="@item.CtaLink.Url" class="btn">@item.CtaLink.Text</a>
            </div>
        </div>
    </section>