@using ContentModels = Hakaton.SlobodaNemaCenu.Web.Models.Generated;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@{
    var item = Model.Content as ContentModels.ImageGridItem;
}

@if (item?.Image is null)
{
    return;
}
<a href="@item.Link?.Url" class="image-grid__link">
    <img src="@item.Image?.GetCropUrl()" alt="" />
</a>
