// ----------  background-text
// ------------------------------------------------------------------------------

@use '../abstracts' as *;

.background-text {
  overflow: hidden;
  margin-bottom: 64px;
}
.background-text__content {
  font-size: 217px;
  font-weight: 700;
  white-space: nowrap;
  display: block;
  animation: scroll 15s linear infinite;
  color: transparent;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: rgba($white, 0.4);
  filter: drop-shadow(0 0 17px rgba($white, 0.4));
  font-family: sans-serif;
  mix-blend-mode: soft-light;
  @include media-breakpoint-down(sm) {
    font-size: 60px;
    -webkit-text-stroke-width: 1px;
  }
  span {
    display: inline-block;
  }
}
@keyframes scroll {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -50%;
  }
}
