// ----------  contact
// ------------------------------------------------------------------------------

@use '../abstracts' as *;

.contact-text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  .icons {
    @include media-breakpoint-down(md) {
      justify-content: left;
    }
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 40px;
  }
}
.space {
  margin-bottom: 1.5rem;
}
.contact {
  margin: 70px 0 170px;
  @include media-breakpoint-down(md) {
    margin: 40px 0;
  }
  &.small {
    .banner-img {
      flex: 1 0 240px;
      max-width: 240px;
    }
  }
}
.contact-wrap {
  @include media-breakpoint-up(lg) {
    display: flex;
    justify-content: space-between;
  }
}
.contact-img {
  text-align: center;
  img {
    width: 100%;
    max-width: 508px;
  }
  @include media-breakpoint-up(lg) {
    flex: 1 1 50%;
    margin-top: -25px;
    margin-left: 50px;
  }
}

.contact-subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: $light-blue;
  margin-bottom: 14px;
}

.contact_link {
  font-size: 24px;
  color: $light-blue;
  font-weight: 600;
  word-break: break-all;
  @include media-breakpoint-down(sm) {
    font-size: 18px;
  }
}

.link-container {
  margin-bottom: 33px;
}
