// ----------  education
// ------------------------------------------------------------------------------

@use '../abstracts' as *;

.education-filters {
  margin: 20px 0;
}
.checkbox-dropdown {
  display: inline-block;
  position: relative;
  &.is-active {
    .checkbox-dropdown-list {
      opacity: 1;
      pointer-events: auto;
    }
  }
  .btn {
    padding: 15px 32px;
    .icon {
      font-size: 9px;
      color: $light-blue;
      margin-left: 10px;
      position: relative;
      top: 3px;
    }
    @include hover {
      .icon {
        color: $white;
      }
    }
  }
}

.checkbox-dropdown-list {
  padding: 10px 0;
  z-index: 3;
  list-style: none;
  position: absolute;
  top: 100%;
  border: inherit;
  border-top: none;
  left: -1px;
  right: -1px;
  opacity: 0;
  transition: 0.4s ease-in-out;
  width: 152px;
  pointer-events: none;
  background: rgba(73, 180, 214, 0.9);
  border-radius: 6px;
  li {
    padding: 9px 16px 9px 44px;
    position: relative;
  }
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .checkmark:after {
      display: block;
    }
    &:checked ~ .checkmark {
      background-color: $white;
    }
  }

  .checkmark {
    position: absolute;
    top: 5px;
    left: 16px;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    border: 1px solid $white;
    background: rgba($white, 0.5);
    transition: $anim;
    &::after {
      content: '';
      position: absolute;
      display: none;
      left: 6px;
      top: 2px;
      width: 6px;
      height: 10px;
      border: solid $light-blue;
      border-width: 0 1px 1px 0;
      transform: rotate(45deg);
    }
  }
  label {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
.education-cards__wrap {
  margin: 0 -9px 44px;
  @include media-breakpoint-up(md) {
    display: flex;
    flex-wrap: wrap;
  }
}
.education-card {
  margin-bottom: 20px;
  @include media-breakpoint-up(md) {
    flex: 1 1 30%;
    max-width: 50%;
    margin: 0 9px 20px;
  }
  &.people {
    .image-box__comment {
      background-color: $dark-blue-3;
    }
    .triangle-comment {
      border-color: $dark-blue-3 transparent transparent transparent;
    }
    .education-card-content {
      background-color: $dark-blue-3;
    }
  }
  &.media {
    .image-box__comment {
      background-color: #1c7da3;
    }
    .triangle-comment {
      border-color: #1c7da3 transparent transparent transparent;
    }
    .education-card-content {
      background-color: #1c7da3;
    }
  }
}
.education-card-top {
  height: 150px;
  position: relative;
  border-radius: 0 20px 0 0;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .image-box__comment {
    top: 16px;
    left: 16px;
    right: auto;
    bottom: auto;
    padding: 9px 16px;
    border-radius: 8px;
  }
  .triangle-comment {
    border-width: 13px 22px 0 0;
    margin: 19px 0 11px;
  }
}
.education-card-content {
  padding: 16px;
  border-radius: 0 0 20px 0;
  background-color: $light-blue;
  display: flex;
  flex-direction: column;
  min-height: 136px;
}
.education-card__text {
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  margin-bottom: 16px;
}
.education-icons {
  margin-top: auto;
  .education-icon {
    display: inline-block;
    background-color: #82d5e8;
    font-size: 24px;
    padding: 8px;
    border-radius: 5px;
    transition: $anim;
    color: $white;
    &:not(:nth-of-type(2)) {
      margin-right: 20px;
    }

    @include hover {
      opacity: 0.7;
    }
  }

}
.position{
  position: absolute;
  bottom:2rem;
  right: 2rem;
}

.education-fpmodule__wrap {
  margin-bottom: 44px;
  @include media-breakpoint-up(md) {
    display: flex;
    flex-wrap: wrap;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden
}

.education-text-over-image {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  
}

.education-subtitle {
  font-size: 24px;
  margin-bottom: 0.7rem;
  @include media-breakpoint-down(sm) {
    font-size: 20px;
    margin-bottom: 12px;
  }
  font-weight: bold;
}

.education-link{
  margin-top:0.6rem;
  font-weight: bold;
}


