// ----------  footer
// ------------------------------------------------------------------------------

@use '../abstracts' as *;

.footer {
  background-color: $dark-blue;
  color: $white;
  border-top: 6px solid $light-blue;
  .logo__img {
    max-width: 80px;
    @include media-breakpoint-down(md) {
      margin: 0 auto;
    }
  }
}
.footer-wrap {
  padding: 43px 0;
  @include media-breakpoint-up(lg) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.footer-nav {
  @include media-breakpoint-down(md) {
    .nav {
      display: block;
      position: static;
      background-color: transparent;
      border: none;
    }
    .nav__list {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 24px;
    }
  }
  .nav__item {
    margin-left: 0;
    margin-right: 24px;
  }
}
.footer-links {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  .btn {
    margin-bottom: 20px;
  }
  @include media-breakpoint-down(md) {
    align-items: center;
    margin-top: 24px;
  }
}
.footer-bottom {
  padding: 14px 0 20px;
  text-align: center;
  background-color: $light-blue;
  @include media-breakpoint-down(md) {
    padding: 17px 0;
  }
  &__text {
    font-size: 14px;
    color: $white;
    font-weight: 400;
  }
}
