// ----------  related-news
// ------------------------------------------------------------------------------

@use '../abstracts' as *;

.related-news {
  margin-bottom: 64px;
  overflow: hidden;
}
.related-news__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 47px;
  .h2 {
    margin-bottom: 0;
  }
}
.related-news__btn {
  @include media-breakpoint-down(md) {
    display: none;
  }
  &.show-on-mobile {
    margin-top: 24px;
    display: inline-block;
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}
.related-news__cards {
  .swiper-wrapper {
    @include media-breakpoint-up(md) {
      flex-wrap: wrap;
    }
  }
}
.related-news__card {
  border-radius: 40px 40px 10px 10px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.05);
  @include media-breakpoint-up(md) {
    max-width: 50%;
    flex: 1 1 30%;
    min-width: 285px;
    margin: 0 9px 20px;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  @include hover {
    background: rgba(255, 255, 255, 0.1);
    .related-news__card-title {
      color: $light-blue;
    }
    .related-news__title-text {
      background-size: 100% 1px;
    }
    .icon {
      color: $light-blue;
    }
  }
}
.related-news__tags {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 2;
}
.rated-news__card-top {
  width: 100%;
  height: 225px;
  position: relative;
  border-radius: 40px 40px 0;
  overflow: hidden;
  flex-shrink: 0;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.related-news__tag {
  display: inline-block;
  background-color: $light-blue;
  font-weight: 500;
  line-height: normal;
  padding: 8px 10px 7px;
  border-radius: 16px;
  &:nth-of-type(2n) {
    margin-left: 10px;
  }
}
.related-news__card-content {
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .text-small {
    margin-bottom: 14px;
  }
}
.related-news__card-title {
  margin-bottom: 14px;
}
.related-news__title-text {
  background-image: linear-gradient(to right, $light-blue, $light-blue);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: $anim;
}
.related-news__link {
  margin-top: auto;
  a {
    display: flex;
    color: $light-blue;
    font-weight: 600;
    line-height: 18.2px;
    .icon {
      margin-left: auto;
      color: rgba($white, 0.2);
      transition: $anim;
    }
    &::before {
      background-color: transparent;
      content: '';
      inset: 0;
      position: absolute;
    }
  }
}
