// ----------  two-images
// ------------------------------------------------------------------------------

@use '../abstracts' as *;

.two-images {
  margin: 32px 0;
  .wrap {
    max-width: 793px;
  }
}
.two-images__wrap {
  display: flex;
  justify-content: center;
  img {
    flex: 1 0 50%;
    max-width: 50%;
    border-radius: 20px;
    max-height: 165px;
    height: 100%;
    object-fit: cover;
    &:not(:nth-of-type(2)) {
      margin-right: 20px;
      @include media-breakpoint-down(sm) {
        margin-right: 0;
        margin-bottom: 14px;
        border-radius: 16px;
      }
    }
    @include media-breakpoint-down(sm) {
      flex: 1 1 100%;
      max-width: 100%;
      max-height: 200px;
    }
  }
  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}
