<footer class="footer">
    <div class="wrap">
        <div class="footer-wrap">
            <div class="footer-nav">
                <div class="icons">
                    <a href="javascript:;" class="icon-link" target="_blank">
                        <span class="icon icon-facebook">
                            <span class="sr-only">Facebook link</span>
                        </span>
                    </a>
                    <a href="javascript:;" class="icon-link" target="_blank">
                        <span class="icon icon-linkedin">
                            <span class="sr-only">Linkedin link</span>
                        </span>
                    </a>
                    <a href="javascript:;" class="icon-link" target="_blank">
                        <span class="icon icon-instagram">
                            <span class="sr-only">Instagram link</span>
                        </span>
                    </a>
                    <a href="javascript:;" class="icon-link" target="_blank">
                        <span class="icon icon-twitter">
                            <span class="sr-only">Twitter link</span>
                        </span>
                    </a>
                </div>
                <nav class="nav footer-nav">
                    <ul class="nav__list" role="menubar">
                        <li class="nav__item" role="menuitem">
                            <a class="nav__link"
                               href="index.html"
                               rel="noopener noreferrer">Homepage</a>
                        </li>
                        <li class="nav__item" role="menuitem">
                            <a class="nav__link"
                               href="activities.html"
                               target="_blank"
                               rel="noopener noreferrer">Activities</a>
                        </li>
                        <li class="nav__item" role="menuitem">
                            <a class="nav__link"
                               href="education.html"
                               target="_blank"
                               rel="noopener noreferrer">Education</a>
                        </li>
                        <li class="nav__item" role="menuitem">
                            <a class="nav__link"
                               href="about.html"
                               target="_blank"
                               rel="noopener noreferrer">About us</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <a href="index.html" class="logo">
                <img class="logo__img" src="assets/images/footer-logo.png" alt="" />
            </a>
            <div class="footer-links">
                <a href="javascript:;" class="btn blue-btn" target="_blank">Contact us</a>
                <a href="mailto: abc@example.com"
                   class="footer-link link"
                   target="_blank">sloboda.nema.cenu@gmail.com</a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="wrap">
            <span class="footer-bottom__text">Sloboda nema cenu © 2023</span>
        </div>
    </div>
</footer>
