<header class="header">
    <div class="wrap">
        <div class="header__container">
            <a href="index.html" class="logo">
                <img class="logo__img" src="assets/images/logo.png" alt="" />
            </a>
            <nav class="nav">
                <ul class="nav__list" role="menubar">
                    <li class="nav__item active" role="menuitem">
                        <a class="nav__link" href="index.html" rel="noopener noreferrer">Homepage</a>
                    </li>
                    <li class="nav__item" role="menuitem">
                        <a class="nav__link"
                           href="activities.html"
                           target="_blank"
                           rel="noopener noreferrer">Activities</a>
                    </li>
                    <li class="nav__item" role="menuitem">
                        <a class="nav__link"
                           href="education.html"
                           target="_blank"
                           rel="noopener noreferrer">Education</a>
                    </li>
                    <li class="nav__item" role="menuitem">
                        <a class="nav__link"
                           href="about.html"
                           target="_blank"
                           rel="noopener noreferrer">About us</a>
                    </li>
                </ul>
            </nav>
            <div class="header-action">
                <div class="language-dropdown"></div>
                <button type="button" class="mobile-menu">
                    <div><span class="sr-only">Mobile menu button</span></div>
                </button>
                <a href="" class="btn header-btn">Contact</a>
            </div>
        </div>
    </div>
</header>