// ----------  button
// ------------------------------------------------------------------------------
@use '../abstracts' as *;

button,
input[type='button'],
input[type='submit'] {
  background: none;
  border: 0;
  cursor: pointer;
  outline: none;
  padding: 0;
}

a,
button {
  appearance: none;
  outline: none;

  @include focus {
    outline: 1px dashed $light-blue;
  }
}

.btn {
  background-color: transparent;
  color: $white;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 32px;
  border-radius: 30px;
  transition: 0.4s ease-out;
  border: 2px solid $light-blue;
  @include hover {
    background-color: $light-blue;
    color: $white;
  }
  &.blue-btn {
    background-color: $light-blue;
    color: $white;
    @include hover {
      background-color: transparent;
    }
  }
}
.skip-link {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  z-index: 21;
  color: $black;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 14px;
  background-color: $white;
  opacity: 0;
  @include focus {
    opacity: 1;
    outline: 2px solid $light-blue;
    transform: translateY(0);
  }
}
